izziv1/
staro/
*.gdoc
.gitattributes
/Izzivi/Izziv3/Seznami/nbproject/private/
/Izzivi/Izziv3/Seznami/build/
/Izzivi/Izziv3/Seznami/dist/
/Izzivi/Izziv4/Seznam/Seznam/nbproject/private/
/Izzivi/Izziv4/Seznam/Seznam/build/
/Izzivi/Izziv4/Seznam/Seznam/dist/
/Izzivi/Izziv6/OsnovaVaje5/nbproject/private/
/Izzivi/Izziv6/OsnovaVaje5/build/
/Izzivi/Izziv6/OsnovaVaje5/dist/
/Izzivi/Izziv6/OsnovaVaje6-brezIzziva5/OsnovaVaje5/nbproject/private/
/Izzivi/Izziv6/OsnovaVaje6-brezIzziva5/OsnovaVaje5/build/
/Izzivi/Izziv6/Izziv6/dist/
*.exec-216573524219200
domace_naloge/1.naloga/tk_dn1_63180203.zip
/Izzivi/Izziv8/Osnova10/nbproject/private/
/Izzivi/Izziv8/Osnova10/build/
/Izzivi/Izziv8/Osnova10/dist/
Izzivi/Izziv8/tk_iz08_63180203.zip
/Izzivi/Izziv9/Izziv9/nbproject/private/
/Izzivi/Izziv9/EasyMockPrimer2 (1)/EasyMockProject2/nbproject/private/
Izzivi/Izziv9/tk_iz09_63180203.zip
/Izzivi/Izziv10/Seznami/nbproject/private/
/Izzivi/Izziv10/Seznami/dist/
/Izzivi/Izziv10/Seznami/build/
Izzivi/Izziv10/tk_iz10_63180203.zip
Izzivi/Izziv10/tk_iz10_63180203.zip
Izzivi/Izziv10/tk_iz10_63180203.zip
Izzivi/Izziv10/tk_iz10_63180203.zip
Ch3-6-DNFCriteria.pdf
Ch3-LogicCoverage.pdf
izpit/TIK_Plonk.docx
izpit/Vprasanja.txt
Selection_001.png
Selection_001.png
