izziv1/
staro/
*.gdoc
.gitattributes
/Izzivi/Izziv3/Seznami/nbproject/private/
/Izzivi/Izziv3/Seznami/build/
/Izzivi/Izziv3/Seznami/dist/
/Izzivi/Izziv4/Seznam/Seznam/nbproject/private/
/Izzivi/Izziv4/Seznam/Seznam/build/
/Izzivi/Izziv4/Seznam/Seznam/dist/