izziv1/
staro/
*.gdoc
.gitattributes
/Izzivi/Izziv3/Seznami/nbproject/private/
/Izzivi/Izziv3/Seznami/build/
/Izzivi/Izziv3/Seznami/dist/
/Izzivi/Izziv4/Seznam/Seznam/nbproject/private/
/Izzivi/Izziv4/Seznam/Seznam/build/
/Izzivi/Izziv4/Seznam/Seznam/dist/
/Izzivi/Izziv6/OsnovaVaje5/nbproject/private/
/Izzivi/Izziv6/OsnovaVaje5/build/
/Izzivi/Izziv6/OsnovaVaje5/dist/
/Izzivi/Izziv6/OsnovaVaje6-brezIzziva5/OsnovaVaje5/nbproject/private/
/Izzivi/Izziv6/OsnovaVaje6-brezIzziva5/OsnovaVaje5/build/
/Izzivi/Izziv6/Izziv6/dist/
*.exec-216573524219200
domace_naloge/1.naloga/tk_dn1_63180203.zip
/Izzivi/Izziv8/Osnova10/nbproject/private/
/Izzivi/Izziv8/Osnova10/build/
/Izzivi/Izziv8/Osnova10/dist/